@font-face {
    font-family: 'Helios';
    src: url('../fonts/HeliosCondC-Bold.eot');
    src: url('../fonts/HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HeliosCondC-Bold.woff2') format('woff2'),
        url('../fonts/HeliosCondC-Bold.woff') format('woff'),
        url('../fonts/HeliosCondC-Bold.ttf') format('truetype'),
        url('../fonts/HeliosCondC-Bold.svg#HeliosCondC-Bold') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Haettenschweiler';
    src: url('../fonts/Haettenschweiler.eot');
    src: url('../fonts/Haettenschweiler.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Haettenschweiler.woff2') format('woff2'),
        url('../fonts/Haettenschweiler.woff') format('woff'),
        url('../fonts/Haettenschweiler.ttf') format('truetype'),
        url('../fonts/Haettenschweiler.svg#Haettenschweiler') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helios';
    src: local('../fonts/Helios Light'), local('Helios-Light'),
        url('../fonts/HeliosLightC.woff2') format('woff2'),
        url('../fonts/HeliosLightC.woff') format('woff'),
        url('../fonts/HeliosLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: #fff;
	color: #6D6D6D;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; position: relative; z-index: 1;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body._lock{
    overflow: hidden;
}
header{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease 0s;
}
.body-background{
    background-image: url(../img/image-main.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 30px;
}
.menu__icon{
    display: none;
}
.menu__list > li{
    position: relative;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.menu__link{
    font-size: 29px;
    line-height: 34px;
    color: #fff;
    transition: all 0.3s;
}
.menu__link:hover{
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
    transition: all 0.3s;
}
.header__menu{
    max-width: 800px;
    width: 100%;
}
.menu__body{
    width: 100%;
}
.main{
    background-color: rgba(0, 0, 0, 0.5);
    height: 736px;
}
.main__enter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding: 66px 0 112px 0;
}
h1{
    letter-spacing: 0.1em;
    font-family: 'Helios', sans-serif;
    color: #000;
}
p, button{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
.enter__text{
    max-width: 659px;
}
.text__title h1{
    font-size: 109px;
    line-height: 127px;
    color: #fff;
}
.text__sub-title p{
    font-size: 40px;
    line-height: 49px;
    color: #fff;
    font-weight: 300;
}
.text__sub-title{
    margin-bottom: 62px;
}
.enter__button form{
    width: 100%;
}
.button__btn{
    max-width: 376px;
    height: 100px;
}
.btn__choise{
    background: linear-gradient(90deg, #EB9562, #E0CFA7);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    transition: 0.3s;
}
.btn__choise:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}
.image__img img{
    border-radius: 50%;
    border: 10.3976px solid #EB9562;
}
.button__circle{
    border-radius: 50%;
    border: 3px solid #EB9562;
    width: 74px;
    height: 74px;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.circle__arrow{
    display: flex;
    align-items: center;
    position: relative;
    right: 95px;
}
.arrow__strip{
    position: relative;
    width: 113px;
    height: 2px;
    background-color: #EB9562;
    left: 24px;
}
.circle__arrow i{
    position: relative;
    border: solid #EB9562;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.enter__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.build{
    display: flex;
    flex-direction: column;
}
.room__one-room{
    width: 100%;
    height: 257px;
    background-image: url(../img/main-1.jpg);
    background-position: center;
    background-size: 100% 100%;
}
.room__two-room{
    width: 100%;
    height: 257px;
    background-image: url(../img/main-2.jpg);
    background-position: center;
    background-size: 100% 100%;
}
.builds__office{
    width: 100%;
    height: 257px;
    background-image: url(../img/main-office.jpg);
    background-position: center;
    background-size: 100% 100%;
}
.builds__studio{
    width: 100%;
    height: 257px;
    background-image: url(../img/main-studio.jpg);
    background-position: center;
    background-size: 100% 100%;
}
.build__room{
    display: flex;
}
.build__builds{
    display: flex;
}
.one-room__content, .two-room__content, .office__content, .studio__content{
    background-color: rgba(0, 0, 0, 0.45);
    max-height: 257px;
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
}
.one-room__content, .office__content{
    padding-left: 150px;
}
.content__text{
    background: rgba(255, 255, 255, 0.42);
    padding: 4px 7px 4px 20px;
}
.build a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
}
.content__text i{
    position: relative;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 10px;
}
.page{
    margin-top: 88px;
}
.page h2{
    font-family: 'Helios';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #8D3500;
}
.page__rede{
    text-align: center;
    margin: 0 auto;
}
.rede__content{
    display: flex;
    justify-content: space-between;
    margin: 55px 0 55px;
}
.content__block{
    border: 1px solid #8D3500;
    box-sizing: border-box;
    border-radius: 18px;
    display: flex;
    align-items: center;
}
.content__block:nth-child(1){
    padding: 27px 31px 31px 11px;
}
.content__block:nth-child(1) .text__num p{
    font-family: 'Haettenschweiler';
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.1em;
}
.text__num p{
    font-family: 'Helios';
    font-weight: 400;
    font-size: 56px;
    line-height: 65px;
    letter-spacing: 0.1em;
}
.text__sub-text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}
.content__block:nth-child(2){
    padding: 33px 47px 30px 15px;
}
.content__block:nth-child(3){
    padding: 27px 37px 27px 24px;
}
.block__text{
    text-align: start;
    margin-left: 20px;
}
.rede__text p{
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
}
.page__map{
    text-align: center;
    margin-top: 112px;
}
.map__map{
    margin: 31px 0 33px
}
.map__text p{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}
h3{
    font-family: 'Helios';
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 0.1em;
    color: #000000;
}
.impose__text .text__sub-title p{
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}
.page__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 127px;
}
.form__impose{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.impose__text{
    max-width: 571px;
}
.impose__text .text__sub-title{
    max-width: 417px;
    margin: 20px 0 0 0;
}
.impose__ipt{
    max-width: 550px;
    width: 100%;
}
.ipt__name, .ipt__area, .ipt__num, .ipt__room,
.impose__ipt input{
    width: 100%;
}
.ipt__name, .ipt__area, .ipt__room{
    margin-bottom: 10px;
}
.impose__ipt input{
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 12px 24px;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.4);
}
.form__btn{
    max-width: 230px;
    width: 100%;
    max-height: 56px;
    height: 100%;
    margin-top: 30px;
}
.btn__send{
    width: 100%;
    height: 56px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    color: #fff;
}
.btn__send:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
footer{
    margin-top: 85px;
    background-color: #562000;
    max-height: 267px;
    height: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 23px 0 42px;
    height: 100%;
    max-height: 267px;
}
.footer p{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}
.first-column__text p{
    font-size: 26px;
    line-height: 32px;
    color: #fff;
}
.first-column__text{
    max-width: 182px;
}
.first-column__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__first-column, .footer__second-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footer__second-column, .second-column__text{
    align-items: center;
    text-align: center;
}
.third-column__image{
    margin-bottom: 10px;
}
.third-column__text{
    max-width: 157px;
}

/* sales-center */
.black__menu{
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    top: -500%;
    position: absolute;
    transition: all 0.3s ease 0s;
    align-items: center;
    flex-direction: column;
    height: 103%;
    z-index: 1000;
    width: 100%;
    margin-top: 128px;
}
.black__menu._active{
    display: flex;
    top: 0;
    transition: all 0.3s ease 0s;
}
header._active{
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.4s ease 0s;
}

.menu__sales_center{
    margin-top: 90px;
    background: #562000;
    border-radius: 43.8464px;
    padding: 20px;
    width: 100%;
    max-width: 1142px;
    max-height: 521px;
}
.sales_center__form{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 43.8464px;
    padding: 45px;
}
.menu__sales_center .impose__text .text__sub-title p{
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}
.sales_center__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1102px;
}
.menu__sales_center .form__impose{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__sales_center .impose__text{
    max-width: 454px;
    text-align: center;
}
.menu__sales_center .impose__text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: normal;
}
.menu__sales_center .impose__text .text__sub-title{
    max-width: 417px;
    margin: 20px 0 0 0;
}
.menu__sales_center .impose__ipt{
    max-width: 512px;
    width: 100%;
}
.menu__sales_center .ipt__name, .menu__sales_center .ipt__area, .menu__sales_center .ipt__num, .menu__sales_center .ipt__room,
.menu__sales_center .impose__ipt input{
    width: 100%;
}
.menu__sales_center .ipt__name, .menu__sales_center .ipt__area, .menu__sales_center .ipt__room{
    margin-bottom: 10px;
}
.menu__sales_center .impose__ipt input{
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 12px 24px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;  
    height: 50px;
    background-color: transparent;
}
.menu__sales_center input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px; 
    color: #000000;
}
.menu__sales_center .form__btn{
    max-width: 230px;
    width: 100%;
    max-height: 56px;
    height: 100%;
    margin-top: 30px;
}
.menu__sales_center .btn__send{
    width: 100%;
    height: 56px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    color: #fff;
}
.menu__sales_center .btn__send:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}

/* about.html */
.page{
    margin-top: 68px;
}
.about__text{
    max-width: 342px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.about__text h1{
    color: #000;
    font-size: 86px;
    line-height: 100px;
    letter-spacing: 0.1em;
}
.about__text p{
    color: #000;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
.about__text .text__sub-title{
    margin-top: 50px;
    margin-bottom: 0;
}
.about__video, .video__items{
    max-width: 745px;
    width: 100%;
}
.page__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text__btn{
    max-width: 303px;
    width: 100%;
}
.page__about form{
    max-width: 303px;
    width: 100%;
    display: block;
}
.btn__contact{
    max-width: 303px;
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 2.59397px 2.59397px 2.59397px rgba(0, 0, 0, 0.25);
    border-radius: 20.1033px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}
.btn__contact:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}
.page__plan{
    margin-top: 68px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page__plan h2, .page__group h2{
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #000000;
}
.image__box{
    border: solid #000;
    width: 73px;
    height: 73px;
}
.plan__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px;
}
.first__column, .second__column{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.first-box{
    border-width: 1px 0px 0px 1px;
}
.second-box{
    border-width: 1px 1px 0px 0px;
}
.third-box{
    border-width: 0px 0px 1px 1px;
}
.fourth-box{
    border-width: 0px 1px 1px 0px;
}
.image__img{
    position: relative;
    bottom: 60px;
    width: 97%;
}
.second__column{
    position: relative;
    bottom: 120px;
}
.plan__text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}
.page__group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
}
.page__group p{
    font-weight: 300;
    font-size: 34px;
    line-height: 131%;
}
.group__content{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.page__about-city{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about-city__text h1{
    color: #000;
    font-size: 86px;
    line-height: 100px;
    text-align: center;
}
.about-city__text p{
    color: #000;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}
.about-city__text .text__sub-title{
    margin-top: 36px;
}
.about-city__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content__img:nth-child(1), .content__img:nth-child(2){
    margin-bottom: 38px;
}
.content__img, .content__img img{
    max-width: 574px;
}
.about-city__btn{
    max-width: 303px;
    width: 100%;
    height: 80px;
    margin-top: 60px;
}
.page__about-city form{
    width: 100%;
    display: block;
    max-width: 303px;
}
.btn__choise{
    background: linear-gradient(90deg, #EB9562, #E0CFA7);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: 0.3s;
}
.btn__choise:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}
.page__contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts__text .text__title h1{
    font-size: 86px;
    line-height: 100px;
    letter-spacing: 0.1em;
    color: #000000;
    text-align: center;
}
.contacts__text .text__title{
    margin-bottom: 50px;
}
.contacts__text p{
    font-weight: 300;
    font-size: 43px;
    line-height: 131%;
}
.social{
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}
.page__contacts .social__mail a{
    font-weight: 300;
    font-size: 43px;
    line-height: 131%;
    text-decoration-line: underline;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
.social__adress{
    max-width: 650px;
}
.facebook__text{
    margin-right: 35px;
}
.insta__text{
    margin-right: 25px
}
.mail__text{
    margin-right: 10px
}
.text__btn{
    max-width: 303px;
    width: 100%;
    height: 80px;
    margin-top: 60px;
}
.btn__connect{
    background: linear-gradient(90deg, #EB9562, #E0CFA7);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: 0.3s;
}
.btn__connect:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s;
}
.contact h2{
    color: #000;
}
.contact p{
    color: #8D3500;
    font-weight: 500;
}
.menu__close{
    margin-top: 50px;
    z-index: 5;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.menu__close span,
.menu__close::before,
.menu__close::after{
    left: 0;
    position: absolute;
    height: 7%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}
.menu__close::after, .menu__close::before, .menu__close span{
    content: "";
}
.menu__close::before{
    top: 0;
}
.menu__close::after{
    bottom: 0;
}
.menu__close span{
    top: 45%;
    transform: scale(1) translate(0px, -50%);
}
.menu__close span{
    transform: scale(0) translate(0px, -50%);
}
.menu__close::before{
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}
.menu__close:after{
    bottom: 50%;
    transform: rotate(45deg) translate(0px, -50%);
}
.page__builds{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.builds__content h1{
    font-size: 80px;
    line-height: 93px;
    letter-spacing: 0.1em;
    color: #000000;
}
.builds__content p{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.builds__content .content__text{
    padding: 0;
    background: none;
    max-width: 380px;
    margin: 23px 0 52px;
}
.builds__content form{
    max-width: 303px;
}
.content__btn{
    height: 80px;
}
.page__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 41px;
}
.page__list h2{
    color: #000000;
}
.page__list .list__title{
    margin-bottom: 36px;
}
h4{
    font-family: 'Haettenschweiler', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #000;
}
.list__build p{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.list__build a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    color: #000000;
}
.list__build img{
    max-height: 170px;
}
.build__img{
    margin-right: 30px;
    max-height: 170px;
}
.list__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.list__build{
    border: 1.58599px solid #8D3500;
    box-sizing: border-box;
    border-radius: 28.5478px;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 250px;
    padding: 30px 20px;
    max-width: 559px;
    margin: 0 22px 46px 0;
    position: relative;
}
.list__build:nth-child(2), .list__build:nth-child(4){
    margin-right: 0px;
}
.list__build:nth-child(5){
    margin: 0;
}
.build__text .text__title{
    margin-bottom: 40px;
}
.build__text .text__sub-title{
    margin-bottom: 32px;
}
.text__link{
    text-align: end;
}
.img__sale{
    display: none;
}
._sale{
    display: block;
    position: relative;
    bottom: 150px;
    right: 15px;
}
.page__appart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.appart__img{
    margin-right: 34px;
}
.appart__text h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
}
.appart__text .text__sub-title{
    margin: 29px 0px 67px;
}
.appart__text p{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.page__selection{
    margin-top: 30px;
}
.selection__apps{
    display: flex;
    justify-content: space-between;
    padding: 22px 9px 22px 32px;
    border: 1px solid #8D3500;
    box-sizing: border-box;
    border-radius: 17px;
    max-width: 371px;
    margin-bottom: 95px; 
}
.selection__apps p{
    font-family: 'Helios', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.1em;
}
.select__box{
    background: linear-gradient(179.24deg, #EB9562 0.66%, #FFFFFF 155.42%);
    border-radius: 15px;
    width: 81px;
    height: 44px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.select__box{
    font-family: 'Helios';
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center;
}
.choise{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: center;
}
option{
    background: linear-gradient(179.24deg, #EB9562 0.66%, #FFFFFF 155.42%);
    border-radius: 15px;
}
.selection__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.selection__content p{
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
}
.selection__images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 990px;
    margin-bottom: 30px;
    max-height: 432px;
}
.selection__params{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #8D3500;
    box-sizing: border-box;
    border-radius: 17px;
    padding: 15px 44px 20px;
    max-width: 995px;
    width: 100%;
    margin-bottom: 30px;
}
.params__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 37px;
}
.images__img{
    max-height: 432px;
}
.images__img ._sale{
    bottom: 330px;
    right: 0px;
}
.content__wrap{
    display: flex;
    align-items: center;
}
.content__img, .content__img img{
    width: 100%;
    height: 100%;
}
.content__img:nth-child(1){
    margin-right: 20px;
}
.content__wrap:nth-child(1){
    margin-bottom: 20px;
}
.contacts__img img, .contacts__img{
    width: 100%;
}
video, source{
    z-index: auto;
    position: static;
}
.footer__third-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media (max-width: 1024px){
    .menu__close{
        display: block;
    }
    .container{
        max-width: 910px;
        padding: 0 20px;
    }
    .header{
        max-height: 90px;
    }
    .header__logo, .header__logo img{
        max-width: 100px;
    }
    .header__menu{
        max-width: 650px;
    }
    .menu__list a{
        font-size: 24px;
        line-height: 24px;
    }
    .black__menu._active{
        margin-top: 89px;
    }
    .menu__sales_center{
        max-width: 900px;
    }
    .menu__sales_center .impose__text h3{ 
        font-size: 34px;
        line-height: 40px;
    }
    .menu__sales_center .impose__text .text__sub-title p{
        font-size: 20px;
        line-height: 30px;
    }
    .menu__sales_center .impose__ipt{
        max-width: 375px;
    }
    .menu__sales_center .impose__text{
        max-width: 374px;
    }
    .menu__sales_center .impose__ipt input::placeholder{
        font-size: 14px;
    }
    .main__enter{
        padding: 25px 0 0px 0;
        height: auto;
    }
    .enter__text .text__title h1{
        font-size: 75px;
        line-height: 80px;
    }
    .enter__text .text__sub-title p{
        font-size: 22px;
        line-height: 35px;
    }
    .enter__text {
        max-width: 480px;
    }
    .enter__text .text__title{
        margin-bottom: 20px;
    }
    .enter__text .text__sub-title{
        margin-bottom: 0px;
    }
    .enter__image .image__img img{
        max-width: 330px;
        border: 6px solid #EB9562;
    }
    .enter__image .image__img{
        bottom: 0px;
    }
    .enter__button{
        margin-top: 50px;
    }
    .enter__button .button__btn{
        max-width: 303px;
        max-height: 80px;
    }
    .body-background{
        max-height: 615px;
    }
    .room__one-room, .room__two-room, .builds__office, .builds__studio{
        height: 200px;
    }
    .one-room__content, .two-room__content, .office__content, .studio__content{
        padding-bottom: 20px;
    }
    .one-room__content, .office__content{
        padding-left: 80px;
    }
    .rede__title h2{
        font-size: 50px;
    }
    .content__block .block__image img{
        max-width: 85px;
    }
    .content__block:nth-child(1) .text__num p{
        font-size: 36px;
        line-height: 50px;
    }
    .text__num p{
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0em;
    }
    .text__sub-text{
        font-size: 18px;
    }
    .content__block:nth-child(1) {
        padding: 27px 31px 31px 11px;
        max-width: 240px;
        width: 100%;
    }
    .content__block:nth-child(2) {
        padding: 27px 47px 30px 15px;
        max-width: 325px;
        width: 100%;
    }
    .content__block:nth-child(3) {
        padding: 27px 37px 27px 24px;
        max-width: 240px;
        width: 100%;
    }
    .content__block:nth-child(1) .block__text,.content__block:nth-child(3) .block__text {
        max-width: 90px;
    }
    .rede__text p{
        font-size: 20px;
        line-height: 28px;    
    }
    .map__title h2{
        font-size: 50px;
    }
    iframe{
        max-height: 500px;
    }
    .map__text p{
        font-size: 20px;
    }
    .impose__text h3{
        font-size: 40px;
        line-height: 48px;
    }
    .impose__text .text__sub-title p{
        font-size: 20px;
        line-height: 30px;
    }
    .impose__text{
        max-width: 370px;
    }
    .impose__ipt{
        max-width: 460px;
    }
    .impose__ipt input::placeholder{
        font-size: 18px;
        line-height: 26px;
    }
    .impose__ipt input{
        font-size: 18px;
    }
    .footer p{
        font-size: 18px;
        line-height: 24px;
    }
    .first-column__text p{
        font-size: 22px; 
    }
    .first-column__logo img{
        max-width: 120px;
    }
    .first-column__social img{
        max-width: 28px;
    }
    .third-column__image img{
        max-width: 110px;
    }
    .third-column__text {
        max-width: 119px;
    }
    footer{
        max-height: 250px;
    }
    .about-city__text h1{
        font-size: 75px;
        line-height: 80px;
    }
    .page__about{
        align-items: flex-start;
    }
    .about__text h1{
        font-size: 70px;
        line-height: 80px;
    }
    .about__text p{
        font-size: 14px;
        line-height: 20px;
    }
    .about__text .text__sub-title{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .text__btn {
        max-width: 230px;
        height: 50px;
        margin: 35px 0 0 0;
    }
    .btn__contact {
        max-width: 230px;
        height: 50px;
        font-size: 16px;
        line-height: 12px;
    }
    .page__about form {
        max-width: 230px;
        width: 100%;
        display: block;
    }
    .page__plan h2, .page__group h2, .page__list h2{
        font-size: 46px;
    }
    .plan__image{
        max-width: 80%;
        max-height: 500px;
    }
    .page__group p{
        font-size: 25px;
    }
    .contacts__text .text__title h1 {
        font-size: 70px;
        line-height: 80px;
    }
    .contacts__text p, .page__contacts .social__mail a{
        font-size: 32px;
        line-height: 100%;
    }
    .text__social img{
        width: 80%;
    }
    .contacts__text{
        max-width: 620px;
    }
    .facebook__text {
        margin-right: 26px;
    }
    .btn__connect{
        font-size: 16px;
    }
    .builds__content h1{
        font-size: 70px;
        line-height: 80px;
    }
    .builds__content form {
        max-width: 250px;
    }
    .content__btn {
        height: 60px;
    }
    .btn__choise{
        font-size: 15px;
        line-height: 16px;
    }
    .list__build{
        max-width: 424px;
        max-height: 220px;
    }
    .list__build img, .build__img{
        max-height: 130px;
        max-width: 160px;
    }
    ._sale {
        bottom: 115px;
    }
    .build__text .text__title {
        margin-bottom: 10px;
    }
    .appart__text{
        max-width: 380px;
        width: 100%;
    }
    .appart__img img, .appart__img{
        max-width: 450px;
    }
    .apps__text p{
        font-size: 28px;
        line-height: 40px;
    }
    .selection__apps{
        max-width: 329px;
    }
    .select__box{
        width: 65px;
        height: 43px;
    }
    .selection__images img{
        width: 80%;
    }
    .images__img ._sale {
        bottom: 275px;
        right: 0px;
    }
}
@media (min-width: 768px){
    .menu__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .menu__list > li{
        padding: 10px 0;
    }
}
@media (max-width: 768px){
    .menu__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    header{
        z-index: 1000;
    }
    .container{
        max-width: 708px;
        margin: 0 auto;
    }
    .header__menu, .menu__list{
        width: auto;
    }
    .menu__icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 0;
        position: absolute;
        height: 8%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::after, .menu__icon::before, .menu__icon span{
        content: "";
    }
    .menu__icon::before{
        top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span{
        /* display: none; */
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before{
        top: 45%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    .menu__body{
        position: fixed;
        top: 0;
        left: 100%;
        width: 50%;
        height: 100%;
        padding: 28px 0px 0px 9px;
        background: #562000;
        border-radius: 43px 0px 0px 43px;
        transition: all 0.3s ease 0s;
        overflow: auto;
        margin-top: 30px;
    }
    .body__menu{
        background: rgba(255, 255, 255, 0.9);
        border-radius: 43px 0 0px 43px;
        width: 100%;
        height: 100%;
    }
    .menu__body._active{
        left: 50%;
    }
    .menu__body::before{
        content: "";
        left: 100%;
    }
    .menu__list{
        flex-direction: column;
        align-items: flex-end;
    }
    .menu__list li{
        display: block;
        border: 0.45px solid #8D3500;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 5px 25px;
        margin-bottom: 25px;
        max-width: 80%;
    }
    .menu__list li:hover{
        background: linear-gradient(90deg, #EB9562 0%, rgba(255, 255, 255, 0.9) 170%);
    }
    .menu__list li:first-child{
        margin-top: 20px;
    }
    .menu__list li:last-child{
        margin: 0;
    }
    .menu__list a{
        color: #000000;
    }
    .enter__text {
        max-width: 330px;
    }
    .enter__text .text__title h1 {
        font-size: 55px;
        line-height: 60px;
    }
    .enter__text .text__sub-title p {
        font-size: 18px;
        line-height: 30px;
    }
    img{
        z-index: 0;
        position: static;
    }
    .enter__image .image__img img {
        max-width: 230px;
        border: 3px solid #EB9562;
    }
    .enter__image .image__img{
        position: static;
    }
    .enter__button .button__btn{
        max-height: 50px;
    }
    .btn__choise{
        max-width: 230px;
        max-height: 50px;
        font-size: 12px;
    }
    .button__circle {
        max-width: 50px;
        max-height: 50px;
        border: 2px solid #EB9562;
    }
    .circle__arrow i {
        border-width: 0px 2px 2px 0;
        padding: 7px;
    }
    .arrow__strip{
        left: 18px;
    }
    .circle__arrow{
        right: 101px;
    }
    .room__one-room{
        max-height: 257px;
        background-size: auto;
    }
    .room__two-room{
        max-height: 257px;
        background-size: auto;
    }
    .builds__office{
        max-height: 257px;
        background-size: auto;
    }
    .builds__studio{
        max-height: 257px;
        background-size: auto;
    }
    .content__text a{
        font-size: 14px;
    }
    .content__text i{
        padding: 4px;
    }
    .body-background {
        max-height: 500px;
    }
    .page {
        margin-top: 40px;
    }
    .rede__title h2 {
        font-size: 44px;
    }
    .content__block:nth-child(1) {
        padding: 15px 15px 15px 10px;
        max-width: 200px;
    }
    .content__block:nth-child(3) {
        padding: 15px 15px 15px 10px;
        max-width: 200px;
    }
    .content__block .block__image img {
        max-width: 64px;
    }
    .content__block:nth-child(1) .text__num p {
        font-size: 26px;
        line-height: 36px;
    }
    .content__block:nth-child(2) {
        padding: 15px 15px 15px 10px;
        max-width: 240px;
    }
    .text__num p {
        font-size: 26px;
        line-height: 26px;
    }
    .text__sub-text {
        font-size: 12px;
        line-height: 16px;
    }
    .rede__text p {
        font-size: 16px;
        line-height: 24px;
    }
    .rede__content {
        margin: 40px 0 40px;
    }
    .page__map {
        margin-top: 60px;
    }
    iframe {
        max-height: 360px;
    }
    .map__title h2 {
        font-size: 44px;
    }
    .map__text p {
        font-size: 16px;
    }
    .page__form{
        margin-top: 75px;
    }
    .impose__text h3 {
        font-size: 34px;
        line-height: 42px;
    }
    .impose__text .text__sub-title p {
        font-size: 16px;
        line-height: 26px;
    }
    .impose__ipt input, .impose__ipt input::placeholder {
        font-size: 12px;
    }
    .impose__ipt input{
        padding: 6px 12px;
        height: 40px;
    }
    .form__btn {
        max-width: 210px;
        max-height: 45px;
    }
    .btn__send {
        max-height: 45px;
        font-size: 12px
    }
    .first-column__logo img, .first-column__logo{
        max-width: 100px;
    }
    .first-column__text p {
        font-size: 18px;
    }
    .first-column__social img {
        max-width: 25px;
    }
    .first-column__social{
        max-width: 150px;
    }
    .footer p {
        font-size: 14px;
        line-height: 20px;
    }
    .third-column__image img {
        max-width: 80px;
    }
    footer {
        max-height: 210px;
    }
    .about-city__text h1 {
        font-size: 55px;
        line-height: 55px;
    }
    .about-city__text p {
        font-size: 14px;
        line-height: 20px;
    }
    .page__about-city form {
        max-width: 250px;
    }
    .about__text h1 {
        font-size: 55px;
        line-height: 55px;
    }
    .about__text p, .about__text{
        align-items: flex-start;
        text-align: start;
    }
    .about__text {
        max-width: 250px;
    }
    .page__plan h2, .page__group h2, .page__list h2 {
        font-size: 40px;
    }
    .plan__text p {
        font-size: 14px;
        line-height: 20px;
    }
    .plan__image {
        max-height: 400px;
    }
    .page__group p {
        font-size: 20px;
    }
    .content__logo img{
        max-width: 200px;
    }
    .contacts__text .text__title h1 {
        font-size: 55px;
    }
    .contacts__text p, .page__contacts .social__mail a {
        font-size: 22px;
        line-height: 100%;
    }
    .text__social img {
        width: 70%;
    }
    .insta__text {
        margin-right: 15px;
    }
    .facebook__text {
        margin-right: 20px;
    }
    .btn__connect {
        font-size: 12px;
    }
    .map__title h2 {
        font-size: 40px;
    }
    .builds__image img{
        width: 100%;
    }
    .builds__content h1 {
        font-size: 55px;
        line-height: 60px;
    }
    .builds__content p {
        font-size: 14px;
        line-height: 20px;
    }
    .builds__content .content__text {
        padding: 0;
        background: none;
        max-width: 280px;
        margin: 23px 0 30px;
    }
    .list__build{
        margin-right: 0;
    }
    .appart__img img, .appart__img {
        max-width: 450px;
        width: 100%;
    }
    .appart__img{
        margin-bottom: 30px;
    }
    .appart__text h3 {
        font-size: 28px;
        line-height: 36px;
    }
    .appart__text p {
        font-size: 14px;
        line-height: 20px;
    }
    .appart__text .text__sub-title {
        margin: 29px 0px 30px;
    }
    .selection__apps {
        padding: 15px 10px 15px 20px;
        border-radius: 17px;
        max-width: 310px;
        margin-bottom: 55px;
        width: 100%;
    }
    .selection__images {
        margin-bottom: 30px;
        max-height: 300px;
    }
    .images__img {
        max-height: 285px;
    }
    .images__img ._sale {
        bottom: 220px;
    }
    .page__selection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .selection__content p {
        font-size: 16px;
        line-height: 18px;
    }
    .selection__text p{
        text-align: center;
    }
    .page__appart{
        flex-direction: column;
    }
    .appart__text {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form{
        width: 100%;
    }
    .menu__sales_center{
        max-height: 1000px;
    }
    .sales_center__form .form__impose{
        flex-direction: column;
        max-width: 100%;
    }
    .sales_center__form .impose__text, .sales_center__form .impose__text .text__sub-title{
        max-width: 100%;
    }
    .sales_center__form .impose__text{
        margin-bottom: 20px;
    }
    .menu__sales_center .impose__ipt{
        max-width: 100%;
    }
}
@media (max-width: 600px){
    .body-background {
        max-height: 440px;
    }
    .menu__list a {
        font-size: 20px;
        line-height: 24px;
    }
    .main__enter{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .enter__image, .button__circle{
        display: none;
    }
    .enter__text{
        max-width: 100%;
    }
    .enter__button{
        max-width: 230px;
    }
    .build__room, .build__builds{
        flex-direction: column;
    }
    .two-room__content, .studio__content{
        padding-left: 80px
    }
    .rede__content{
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .content__block:nth-child(1){
        margin-right: 10px;
    }
    .content__block:nth-child(2){
        order: 1;
        margin-top: 10px;
    }
    .form__impose{
        flex-direction: column;
    }
    .impose__text{
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .impose__text .text__title,.impose__text .text__sub-title{
        max-width: 100%;
    }
    .about-city__btn{
        margin-top: 0px;
    }
    .page__about{
        flex-direction: column;
    }
    .about__text{
        max-width: 100%;
        text-align: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .page__plan h2, .page__group h2, .page__list h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .page__group{
        align-items: center;
        text-align: center;
    }
    .group__content{
        flex-direction: column;
    }
    .content__logo img{
        max-width: 80%;
    }
    .content__logo{
        margin-bottom: 20px;
    }
}
@media (max-width: 480px){
    .header__logo, .header__logo img {
        max-width: 77px;
    }
    .enter__text .text__sub-title p {
        font-size: 16px;
        line-height: 25px;
    }
    .enter__text .text__title h1 {
        font-size: 36px;
        line-height: 30px;
    }
    .body-background {
        max-height: 370px;
    }
    .header {
        max-height: 70px;
    }
    .menu__icon{
        width: 26px;
        height: 26px;
    }
    .room__one-room, .room__two-room, .builds__office, .builds__studio{
        max-height: 150px;
        background-size: 100% 100%;
    }
    .one-room__content, .office__content {
        padding-left: 20px;
    }
    .two-room__content, .studio__content {
        padding-left: 20px;
    }
    .rede__title h2 {
        font-size: 31px;
        line-height: 36px;
    }
    .page {
        margin-top: 30px;
    }
    .content__block:nth-child(1) .text__num p, .content__block .text__num p{
        font-family: 'Helios', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }
    .content__block:nth-child(1), .content__block:nth-child(2), .content__block:nth-child(3) {
        padding: 10px 10px 10px 10px;
        max-width: 130px;
    }
    .content__block:nth-child(1){
        margin-right: 20px;
    }
    .content__block:nth-child(2){
        max-width: 180px;
        margin-top: 20px;
    }
    .block__text {
        text-align: start;
        margin-left: 8px;
    }
    .content__block .block__image img, .block__image{
        max-width: 48px;
    }
    .text__sub-text {
        font-size: 11px;
        line-height: 13px;
    }
    .rede__content {
        justify-content: space-evenly;
    }
    .rede__content {
        margin: 20px 0 15px;
    }
    .rede__text p {
        font-size: 11px;
        line-height: 13px;
    }
    .page__map {
        margin-top: 10px;
    }
    .map__title h2 {
        font-size: 31px;
        line-height: 36px;
    }
    iframe {
        max-height: 130px;
    }
    .map__map {
        margin: 10px 0 10px;
    }
    .map__text p {
        font-size: 11px;
        color: #8D3500;
        font-weight: 500;
    }
    .page__form {
        margin-top: 20px;
    }
    .impose__text h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500
    }
    .impose__text .text__sub-title p {
        font-size: 14px;
        line-height: 17px;
    }
    .impose__text .text__sub-title {
        margin: 6px 0 0 0;
    }
    .impose__ipt input {
        height: 30px;
    }
    .impose__ipt input::placeholder{
        font-size: 11px;
    }
    .form__btn {
        max-width: 170px;
        max-height: 45px;
        margin-top: 20px;
    }
    .btn__send {
        font-size: 11px;
    }
    .impose__text{
        margin-bottom: 10px;
    }
    footer{
        margin-top: 30px;
        max-height: 136px;
    }
}